{% extends "navbar.html" %}

<title>{% block blocktitle %} HOME{% endblock %}</title>

{% block body%}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    {% if 'error' in message %}   
    <div class="alert alert-error">
        {% set error_message = message.split(';')[0] %} 
            <h6>{{error_message}}</h6>
    </div>
    {% elif 'success' in message %}
    <div class="alert alert-success">
        {% set success_message = message.split(';')[0] %} 
        <h6>{{success_message}}</h6>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<body>
    <div class="big-div">
        <form method="POST" enctype="multipart/form-data" class="container">
            <div class="formulaire-LOGIN">
                
                <div class="">
                    {{ form.hidden_tag() }}<br>
                    <h1 class="titre_envoi">Changement de mot de passe<i class="far fa-smile" style="color: #0000c8; font-size: 25px; margin-left: 10px;"></i></h1>

                    {{ form.Password(placeholder="Password" ,class_='style', type="password") }}<br>

                    {{ form.confirm_Password(placeholder="Confirm your Password",class_='style',type="password") }}<br>

                    {{ form.submit(class_ = 'submit' )}}<br>

                </div>

            </div>
        </form>
    </div>

    {% endblock %}