{% extends "layout.html" %}

<title>{% block blocktitle %} HOME{% endblock %}</title>

{% block body%}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

    <form method="POST" enctype="multipart/form-data" class="container">
        <div>

            {{ form.hidden_tag() }}
            <h1 class="h1">Modifier l'article</h1>
            <hr>

            {{ form.name(placeholder="Nom de l'article") }}<br>

            {{ form.category(placeholder="Type d'article") }}<br>

            {{ form.Description(placeholder="Description de l'article") }}<br>

            {{ form.date_arrive(placeholder="Date d'arrivée") }}<br>

            {{ form.details(placeholder="Détails supplémentaires") }}<br>

            {{ form.price(placeholder="Prix de l'article") }}<br>

            {{ form.quantity(placeholder="Quantité disponible") }}<br>

            {{ form.image(placeholder="Sélectionnez l'image de l'article") }}<br>

            {{ form.submit }}
        </div>
    </form>


{% endblock %}

