{% extends "layout.html" %}
{% block blocktitle %}Home{% endblock %}

{% block body %}
<div class="notification-container"></div>


<main>
    <div class="mon-main">
        {#<ul class="liste">
            <div class="presentation">
                <i class="fas fa-bars menu-icon"></i>
                <span>Menu</span>
            </div>
            <div class="presentation1"></div>
            <a href="{{url_for('home')}}">
                <i class="fas fa-home menu-icon"></i>
            </a>
            <li>Les categories</li>
            <li>Vetements</li>
            <li>Aliments</li>
            <li>Les produits Tendances </li>
            <li>Explorez nos produits</li>

        </ul>#}

        <div style="flex-direction: column; width:100%">
                <h4 style="margin:90px 0px 0px 10px">Vos Favoris({{favoris_utilisateur|length}})</h4>
                <div class="inventaire-des-articles" style="width:97%; display:flex">
                    {% if favoris_utilisateur|length != 0 %}
                        {#<img src="{{url_for('static', filename='images/caddie-sac-plastique-rouge-dessus_1340-37199-removebg-preview.png')}}" width="230px" height="auto" alt="img">#}
                        {% for favoris, article in favoris_utilisateur %}
                        <div class="exposition-images" data-category="{{ article.category }}" style="width:23%">
                                <a href="{{url_for('ArticlesDetails', article_id =article.id)}}">
                                    <img src="{{ article.image }}" width="80px" height="150px" alt="img">
                                </a>
                                <div class="description">
                                    <a href="{{ url_for('supprimer_article_favoris', article_id=article.id) }}">
                                        <button>Supprimer des favoris</button>
                                    </a>
                                    <span class="article_name">{{article.name}}</span>
                                    <span class="article_price">{{article.price}}francs</span>
                                </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p style="color:white;background-color: #072345; width:100%; font-family:Quicksand; font-weight: bold;padding-left: 10px;">Vous n'avez rien dans vos favoris</p>
                    {% endif %}
                </div>
            </div>
        </div>
</main>


<script src="{{url_for('static', filename='javascript/script.js')}}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const depliant = document.getElementById("users-info");

    depliant.addEventListener("click", function() {
        this.classList.toggle("active");
    });
});
</script>
{%endblock%}