{% extends "navbar.html" %}

<title>{% block blocktitle %} HOME{% endblock %}</title>

{% block body%}

<div class="big-div" style="display:flex; flex-direction: column;">  
    <form method="POST"  enctype="multipart/form-data" class="container"> 
        <div class="formulaire-recuperation_password">
            <div>
                <div>
                    {{ form.hidden_tag() }}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert-container">
                        {% for message in messages %}
                        {% if 'error' in message %}   
                        <div class="notification-container "></div>
                            {% set error_message = message.split(';')[0] %} 
                                <h6 class="alert-error">{{error_message}}</h6>
                        </div>
                        {% elif 'success' in message %}
                        <div class="notification-container  "></div>
                            {% set success_message = message.split(';')[0] %} 
                            <h6 class="alert-success">{{success_message}}</h6>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %} 
                </div> 
                <h1 class="titre_envoi">Envoi d'un lien de connexion</h1><br>
                {{ form.email(placeholder="Saisissez un email de recupération",class_='style') }}<br>
                
                <form method="POST" action="{{ url_for('forgot_password',email=email) }}" enctype="multipart/form-data" class="container">
                    <button type="submit" class="LOGIN-submit">Envoyer</button>
                </form>
                
        </div>
    </form>
</div>
{% endblock %}