{#{% extends "navbar.html" %}#}
{% extends "layout.html" %}

{% block blocktitle %}Home{% endblock %}


{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    {% if 'error' in message %}   
    <div class="notification-container "></div>
        {% set error_message = message.split(';')[0] %} 
            <h6 class="alert-error">{{error_message}}</h6>
    </div>
    {% elif 'success' in message %}
    <div class="notification-container  "></div>
        {% set success_message = message.split(';')[0] %} 
        <h6 class="alert-success">{{success_message}}</h6>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="bloc">
    <main>
        <div class="mon-main" style="background-color:#f0f4f7">
            <div class="bar-defilante">
                <div class="message">
                    <p>Bienvenue sur MongoMarket, votre plateforme d'achat et de vente en ligne. Faites vos achats en
                        toute
                        sécurité </p>
                </div>
            </div>

            <div class="produits-defilants" onmouseover="survolPromo()" onmouseout="quittePromo()">
                <div class="image_de_produits-defilants">
                    <i class="fa-solid fa-chevron-left"></i>
                    <i class="fa-solid fa-chevron-right"></i>
                    {% for item in les_promos %}
                    <a href="{{url_for('VoirArticlesEnPromo', promo_id = item.id )}}">
                        <img src="{{item.image}}" alt="{{item.details}}" width="10px" height="100px"></img>
                    </a>
                    {% endfor %}
                    <div id="produits-defilants-child-id" style="display:none"> Découvrez nos promos en cours </div>
                </div>
            </div>
            <div style="width:100%;  display: flex; cursor:pointer">
                <section>
                    <div class="Menu">
                        <h2 class="les-categories" id="all-categories">Les catégories</h2>
                        <ul>
                            {% for category_name, icon_name in categories_with_icons.items() %}
                            <li data-category="{{ category_name }}"><i class="fas fa-{{ icon_name }}"></i><span>{{
                                    category_name }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                <div style="flex-direction: column; width:100%">
                    <div class="inventaire-des-articles" style="width:97%">
                        {% for article in pagination.items %}
                        {% if current_user.is_authenticated %}
                        <div class="exposition-images" data-category="{{ article.category.name }}">           
                            <a href="{{url_for('AjouterAuxFavoris',id_of_user=current_user.id, id_of_article=article.id)}}">
                                <i class="fas fa-heart" style="color:red;" onmouseover="survolHeart()" onmouseout="quitteHeart()"></i>
                            </a>
                            <a href="{{url_for('ArticlesDetails', article_id = article.id )}}">
                                <img src="{{ article.image }}" alt="img">
                            </a>
                            <div class="description">
                                <div style="align-items:center">
                                    {% if article.user_image == None %}
                                    <span class="article_description">Mise en vente par: {{ article.user_name|upper if article.user_name|length <= 16 else article.user_name[:12] ~  '...' }} SHOP</span>
                                    {% else %}
                                    <span class="article_description" style="align-items:center">
                                        <span><img class src="{{ article.user_image }}"   width="2px" height="2px" alt="img" style= "border-radius: 50% 50% 50% 50%;margin-top:5px; max-width:15px; max-height: 15px;"></span>
                                        <span>Mise en vente par: {{article.user_name|upper if article.user_name|length <= 16 else article.user_name[:12] ~  '...' }} SHOP</span>
                                    </span>
                                    {% endif %}
                                </div>

                                <span class="article_description">{{article.Description if article.Description|length <= 20 else article.Description[:20] ~  '...' }}</span>
                                <span class="article_name">{{article.name if article.name|length <= 19 else article.name[:19] ~  '...' }}</span>
                                <span class="article_price">{{article.price}}francs</span>

                                <form method="POST"
                                    action="{{url_for('add_to_cart',user_id=current_user.id, article_id=article.id)}}">
                                    <button type="submit" class="cart-button" data-article-id="{{ article.id }}" title="ajou au panier">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <div class="exposition-images" data-category="{{ article.category.name }}">
                            <a href="{{url_for('ArticlesDetails', article_id = article.id)}}">
                                <img src="{{article.image}}" width="250px" height="290px" alt="ds">
                            </a>
                            <div class="description">
                                <div style="align-items:center">
                                    {% if article.user_image == None %}
                                    <span class="article_description">Mise en vente par: {{ article.user_name|upper if article.user_name|length <= 16 else article.user_name[:16] ~  '...' }} SHOP</span>
                                    {% else %}
                                    <span class="article_description" style="align-items:center">
                                        <span><img class src="{{ article.user_image }}"   width="2px" height="2px"  alt="ek" style= "border-radius: 50% 50% 50% 50%;margin-top:5px; max-width:15px; max-height: 15px;"></span>
                                        <span>Mise en vente par: {{article.user_name|upper if article.user_name|length <= 16 else article.user_name[:16] ~  '...' }} SHOP</span>
                                    </span>
                                    {% endif %}
                                </div>

                                <span class="article_description">{{article.Description if article.Description|length <= 14 else article.Description[:14] ~  '...' }}</span>
                                <span class="article_name">{{article.name if article.name|length <= 14 else article.name[:14] ~  '...' }}</span>
                                <span class="article_price">{{article.price}}francs</span>

                                <form method="POST" action="{{ url_for('add_to_cart_without_login', article_id = article.id )}}">
                                    <button type="submit" class="cart-button" data-article-id="{{ article.id }}" title="ajout au panier">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        <ul>
                            <a href="#"><li>&laquo;</a></li>
                            <a href="{{url_for('home', page=1 )}}"><li>1</li></a>
                            <a href="{{url_for('home', page=2 )}}"><li>2</li></a>
                            <a href="{{url_for('home', page=3 )}}"><li>3</li></a>
                            <a href="{{url_for('home', page=4 )}}"><li>4</li></a>
                            <a href="{{url_for('home', page=5 )}}"><li>5</li></a>
                            <a href="#"><li>&raquo;</li></a>
                        </ul>
                    </div>
                </div>
            </div>                                              
    </main>
    
</div>
<script src="{{url_for('static', filename='javascript/script.js')}}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const depliant = document.getElementById("users-info");

    depliant.addEventListener("click", function() {
        this.classList.toggle("active");
    });
});
</script>

{%endblock%}