<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Quicksand:wght@300&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}Mongo Market{% endblock %}</title>
</head>
<style>

.alert-error {
    background-color: red;
    color: white;
    font-family: "Quicksand";
    animation: flashAnimation 8s;
    animation-fill-mode: forwards;
    height: cm;
    justify-content: center;
}

.alert-success {
    background-color: green;
    color: rgb(255, 255, 255);
    font-family: "Quicksand";
    animation: flashAnimation 8s;
    animation-fill-mode: forwards;
    height: 1cm;
    align-items: center;
}

@keyframes flashAnimation {
    0%, 80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        display:none
    }
}
</style>

<body>
    <div class="bloc">
        <header>
            <nav>
                <ul>                  
                    {% if not current_user.is_authenticated %}
                        {#{% if not current_user.is_admin %}#}
                        <a href="{{url_for('home')}}">
                            <li class="mongo">Mongo<span class="market">Market</span></li>
                        </a>
                        {#{% else %}#}
                        <!-- <a href="{{url_for('viewsForAdmin')}}">
                            <li class="mongo">Mongo<span class="market">Market</span></li>
                        </a> -->
                        {#{% endif %}#}
                        <div class="SearchDiv">
                            <form method="POST" action="{{url_for('SearchFor', saisie='')}}">
                                <input type="text" id="SearchInput" name="saisie">
                                <i class="fas fa-camera"></i>
                                <button type="submit">Search</button>
                            </form>
                        </div>
                        
                        <form method="POST">
                            <a href="{{ url_for('panierForUserNonConnecte')}}" style="color: white; text-decoration: none;" >
                                <div class="panier-div" >
                                    <div id="cart-count" class="cart-count">{{session['panier']|length}}</div>
                                    <i class="fas fa-shopping-cart fa-lg"></i><span class="cart-notification">Mon Panier</span>
                                </div>
                            </a>
                        </form>
                    
                        <li><a href="{{url_for('Signup')}}"><button class="signup-lien">SIGNUP</button></a>
                        </li>
                        <li><a href="{{url_for('Login')}}"><button class="login-lien">LOGIN</button></a>
                        </li>
                    {% else %}
                        
                        <a href="{{url_for('home')}}">
                            <li class="mongo">Mongo<span class="market">Market</span></li>
                        </a>
                        <div class="SearchDiv">
                            <form method="POST" action="{{url_for('SearchFor', saisie='')}}">
                                <input type="text" id="SearchInput" name="saisie" title="research">
        
                                <button type="submit">Search</button>
                            </form>
                        </div>
                        <form method="POST">                
                            <a href="{{ url_for('panier')}}" style="color: white; text-decoration: none;">
                                <div class="panier-div" onmouseover="survolPanier()" onmouseout="quittePanier()"    >
                                    <div id="cart-count" class="cart-count">{{cart_item|length}}</div>
                                    <i class="fas fa-shopping-cart fa-lg"></i><span class="cart-notification">Mon Panier</span>
                                    <div id="panier-div-id">Cliquez pour accéder au contenu de votre panier</div>
                                </div>
                            </a>
                        </form>
                        {% if current_user.is_admin %}
                        <a href="{{url_for('MesArticles')}}" style="color: white; text-decoration: none;">
                            <div class="articles-div" onmouseover="survol()" onmouseout="quitte()">
                                <i class="fas fa-tag"></i>
                                <span class="cart-notification">Mes articles</span>
                                <div id="articles-div-id">Retrouvez ici vos articles mis en vente</div>
                            </div>
                        </a>
                        {% endif %} 

                        <a href="{{url_for('VoirFavoris')}}" style="color: white; text-decoration: none;">
                            <div class="articles-div" onmouseover="survolFavoris()" onmouseout="quitteFavoris()">
                                <i class="fas fa-heart"></i>
                                <span class="cart-notification">Favoris</span>
                                <div id="favoris-div-id">Découvrez vos favoris</div>
                            </div>
                        </a>   
                            <div class="depliant" id="users-info">
                                <ul class="depliant-content">
                                    <li>
                                        <a href="{{ url_for('userProfile', user_id=current_user.id) }}"><i class="fa-solid fa-user fa-lg"></i>Profil</a>
                                    </li>
                                    {% if current_user.is_admin %}
                                    <li>
                                        <a href="{{ url_for('publierArticles') }}"><i class="fa-solid fa-shop"></i>Mettre un article
                                            en
                                            vente</a>
                                    </li>

                                    <li>
                                        <a href="{{url_for('deleteArticle')}}"><i class="fa-solid fa-trash-can"></i>Supprimer un
                                            article</a>
                                    </li>

                                    {#<li>
                                        <a href="{{url_for('make_new_promo', article_id = article.id)}}"><i class="fa-solid fa-shop"></i>Promouvoir un
                                            article</a>
                                    </li>#}
                                    {% endif %}
                                    <li style=" white-space: nowrap;">
                                        <a href="#"><i class="fas fa-cog menu-icon"></i>Préférences</a>
                                        <hr class="trait">
                                    </li>
                                    <li>
                                        <a href="{{url_for('Logout')}}"><i
                                                class="fa-solid fa-right-from-bracket"></i>Déconnexion</a>
                                    </li>
                                </ul>
        

                                {% if current_user.Image == None %}
                                <div class="profil">
                                    <li class="username" >{{current_user.Username}}</li>
                                    <li><i class="fa-solid fa-user fa-lg" style="padding:15px 5px 15px 5px; background-color: white;color:#3d5d83; border-radius:50px; cursor:pointer"></i></li>
                                </div>
                                {% else %}
                                <div class="profil">
                                    <li class="username" >{{ current_user.Username }}</li>
                                    <img class src="{{ current_user.Image }}" width="30px" height="27px"; style= "border-radius: 50% 50% 50% 50%">
                                </div>  
                                {% endif %}
                            </div>
                    {% endif %}
                </ul>
            </nav>
        </header>
        
    </div>
{% block body %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
<footer style="background-color: #3d5d83; height:8cm; color:white">
    <div class="footer-content">
        <div class="footer-logo">
            <h3>MongoMarket</h3>

        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Avis de confidentialité</a></li>
                <li><a href="#">Nos conditions de location</a></li>
                <li><a href="#">Aide</a></li>
                <li><a href="#">Devenir partenaire – Marketplace</a></li>
                <li><a href="#">Notre fonctionnement</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <p>Contactez-nous :</p>
            <ul>
                <li><i class="fa-solid fa-phone"></i> Téléphone : +123456789</li>
                <li><i class="fa-solid fa-envelope"></i> Email : info@MongoMarket.com</li>
                <li><i class="fa-solid fa-map-marker-alt"></i> Adresse : 123 Rue du commerce3, Ville</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 MongoMarket. Tous droits réservés.</p>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>
</body>
</html>