{% extends "layout.html" %}

<title>{% block blocktitle %} HOME{% endblock %}</title>

{% block body%}


<body>
    <form method="POST" enctype="multipart/form-data" class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div>
            {{ form.hidden_tag() }}
            <h1 class="h1">Connexion</h1>
            <hr>
            {{ form.Username(placeholder="Pseudo") }}

            {{ form.Password(placeholder="Password") }}
            
            {{ form.submit }}

        </div>
        <a href="{{url_for('Signup')}}" style="text-decoration: none; font-family:'Cairo'; margin-right: 220px;">Pas de compte?,<span style="text-decoration:underline">Inscrivez vous</span></a>
    </form>
{% endblock %}

