{% extends "layout.html" %}
{% block blocktitle %}Home{% endblock %}

{% block body %}
<div class="notification-container"></div>


<main>
    <div class="mon-main">
        {#<ul class="liste">
            <div class="presentation">
                <i class="fas fa-bars menu-icon"></i>
                <span>Menu</span>
            </div>

            <div class="presentation1"></div>
            <a href="{{url_for('home')}}">
                <i class="fas fa-home menu-icon"></i>
            </a>
            <li>Les categories</li>
            <li>Vetements</li>
            <a href='#aliments'><li>Aliments</li></a>
            <li>Les produits Tendances </li>
            <li>Explorez nos produits</li> 
   
        </ul>#}
        <div style="width:100%;display:flex; margin-top: 20px">
            {% if current_user.is_authenticated %}
                {% if cart_item|length == 0 %}
                    <div style="background-color: white;width:20%; height:520px; margin-left: 10px;">
                        <p style="font-family: Courgette;width:90px;margin: 50px 0px 0px 10px; border:1px solid gray;">Vous
                            n'avez rien dans votre panier</p>
                        <img src="{{url_for('static', filename='images/illustration-3d-amusante-arbitre-americain.jpg')}}"
                            width="100%" height="400px">
                    </div>
                    <div style="flex-direction: column;width: 70%; margin: 50px 0px 0px 15px">
                        <p
                            style="background-color: white;width: 95%;font-family: Courgette; margin:0px 0px 10px 5px; height:40px; text-align: center;">
                            Decouvrez nos divers categories de produits</p>
                        <div class="" style="width:90%;">
                            <p style="font-family: Quicksand; font-weight:bold;">Beaute-Esthetique</p>
                            <a href="{{ url_for('home')}}">
                                <img src="{{url_for('static', filename='images/vue-du-produit-cosmetique-fond-couleur-abricot_23-2150191383.avif' )}}"
                                    width="105%" alt="vue-d/'un-produit-cosmetique-fond-couleur-abricot">
                                
                            </a>
                            <p>Meubles pour maison</p>
                            <img src="{{url_for('static', filename='images/deux-lits-doubles-modernes-elegants-velours-pastel-rose-bleu-matelas-orthopediques-durs-exposes-dans-salle-exposition-magasin-meubles_328764-8599.jpg' )}}"
                                width="105%">
                        </div>
                    </div>
                    <div class="" style="width:30%;flex-direction: column;margin:50px 20px 0px 0px; background-color: rgb(255, 255, 255);height:auto">
                    <p style="font-family: Courgette; text-align: center;">Articles avec le plus de vues</p>
                    {% for article in articles %}
                        {% if article.nombre_de_vues>=5 %}
                            <div class="exposition-images-panier" data-category="{{ article.category }} "
                                style="width:90%; height:auto;  background-color:#f0f4f7;">
                                <div style="width:50%">
                                    <a href="{{url_for('ArticlesDetails', article_id = article.id )}}">
                                        <img src="{{ article.image}}" >
                                    </a>
                                </div>
                                <div style="width:50%; height:auto">
                                    <span class="article_name_panier">{{article.name if article.name|length <= 21 else article.name[:21]
                                            ~ '...' }}</span><br>
                                            <span class="article_price_panier">{{article.price}}francs</span><br>
                                            <span class="article_name_panier"><span>Qté: {{article.quantity}}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% else %}
                    <div style="width:100%">
                        <h4 style="margin:10px 0px 0px 10px">Votre Panier({{panier_utilisateur|length}})</h4>
                        {% for cart_item, article in panier_utilisateur %}
                        <div class="exposition-panier-articles" data-category="{{ article.category }}">
                            <div style="display: flex; flex-direction: column; margin: 0px 0px 10px 20px;width:20%">
                                <span class="article_name" style="font-size: 12px;">{{ article.name }}</span>
                                <a href="{{url_for('ArticlesDetails', article_id =article.id)}}">
                                    <img src="{{ article.image }}" width="80px" height="150px">
                                </a>
                                <form method="POST" action="{{ url_for('payement', article_id=article.id) }}">
                                    <button type="submit" class="achat">Buy</button>
                                </form>
                            </div>
                            <div style="display:flex; justify-content: space-between;width:80%;">
                                <div><span class="article_price">Prix Unitaire: {{ article.price }} francs</span></div>
                                <div><span class="quantity-display" id="quantite">Quantité : {{ cart_item.quantite }}</span>
                                </div>
                                <p>Total: {{article.price*cart_item.quantite}} francs</p>
                
                                <div style="display:flex; margin-right:20px" class="action">
                                    <a href="{{ url_for('supprimer_article_panier', article_id=article.id) }}">
                                        <i class="fa-solid fa-trash-can"
                                            style="color:rgb(255, 255, 255); margin:10px 0px 0px 5px;background-color: gray; border-radius:5px"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                {% if session['panier']|length == 0 %}
                    <div style="background-color: white;width:20%; height:520px; margin-left: 10px;">
                        <p style="font-family: Courgette;width:90px;margin: 10px 0px 0px 10px; border:1px solid gray;">Vous
                            n'avez rien dans votre panier</p>
                        <img src="{{url_for('static', filename='images/illustration-3d-amusante-arbitre-americain.jpg')}}"
                            width="100%" height="400px">
                    </div>
                    <div style="flex-direction: column;width: 70%; margin-left:15px">
                        <p
                            style="background-color: white;width: 95%;font-family: Courgette; margin:0px 0px 10px 5px; height:40px; text-align: center;">
                            Decouvrez nos divers categories de produits</p>
                        <div class="" style="width:90%;">
                            <p style="font-family: Quicksand; font-weight:bold;">Beaute-Esthetique</p>
                            <a href="{{ url_for('home')}}">
                                <img src="{{url_for('static', filename='images/vue-du-produit-cosmetique-fond-couleur-abricot_23-2150191383.avif' )}}"
                                    width="105%">
                            </a>
                            <p>Meubles pour maison</p>
                            <img src="{{url_for('static', filename='images/deux-lits-doubles-modernes-elegants-velours-pastel-rose-bleu-matelas-orthopediques-durs-exposes-dans-salle-exposition-magasin-meubles_328764-8599.jpg' )}}"
                                width="105%">
                        </div>
                    </div>
                    <div class=""
                        style="width:30%;flex-direction: column;margin-right: 20px; background-color: rgb(255, 255, 255);height:auto">
                        <p style="font-family: Courgette; text-align: center;">Articles avec le plus de vues</p>
                            {% for article in articles %}
                                {% if article.nombre_de_vues >= 5 %}
                                    <div class="exposition-images-panier" data-category="{{ article.category }} "
                                        style="width:90%; height:auto;  background-color:#f0f4f7;">
                                        <div style="width:50%">
                                            <a href="{{url_for('ArticlesDetails', article_id = article.id )}}">
                                                <img src="{{ url_for('static', filename=article.image ) }}">
                                            </a>
                                        </div>
                                        <div style="width:50%; height:auto">
                                            <span class="article_name_panier">{{article.name if article.name|length <= 21 else article.name[:21]~ '...' }}</span><br>
                                                    <span class="article_price_panier">{{article.price}}francs</span><br>
                                                    <span class="article_name_panier"><span>Qté: {{article.quantity}}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                    </div>  
                {% else %}
                    <div style="width:100%">
                        {% for items in session['panier'] %}
                        <div class="exposition-panier-articles" data-category="{{ items.category }}">
                            <div style="display: flex; flex-direction: column; margin: 0px 0px 10px 20px;width:20%">
                                <span class="article_name" style="font-size: 12px;">{{ items.name }}</span>
                                <a href="{{url_for('ArticlesDetails', article_id = items.id)}}">
                                    <img src="{{ url_for('static', filename='images/'+items['image'] ) }}" width="80px" height="150px">
                                </a>
                                <form method="POST" action="{{ url_for('payement', article_id=items.id) }}">
                                    <button type="submit" class="achat">Buy</button>
                                </form>
                            </div>
                            <div style="display:flex; justify-content: space-between;width:80%;">
                                <div><span class="article_price">{{ items['price'] }}francs</span></div>
                                <div><span class="quantity-display" id="quantite">Quantité : {{ items['nbr_dajout'] }}</span></div>
                                <div style="display:flex" class="action">
                                    <a href="{{ url_for('supprimer_article_panier', article_id=items.id) }}">
                                        <i class="fa-solid fa-trash-can"
                                            style="color:rgb(255, 255, 255); background-color: gray; border-radius:5px"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>

    </main>



<script src="{{url_for('static', filename='javascript/script.js')}}"></script>
<!-- <script>
function incrementation() {
    // Récupérer l'élément contenant la quantité
    var quantiteElement = document.getElementById('quantite');

    // Extraire la quantité actuelle du texte de l'élément
    var quantiteActuelle = parseInt(quantiteElement.innerText.match(/\d+/)[0]);

    // Incrémenter la quantité
    quantiteActuelle++;

    // Mettre à jour le texte de l'élément avec la nouvelle quantité
    quantiteElement.innerText = "Quantité : " + quantiteActuelle;
}


function decrementation() {
    // Récupérer l'élément contenant la quantité
    var quantiteElement = document.getElementById('quantite');

    // Extraire la quantité actuelle du texte de l'élément
    var quantiteActuelle = parseInt(quantiteElement.innerText.match(/\d+/)[0]);

    // Incrémenter la quantité
    quantiteActuelle--;

    // Mettre à jour le texte de l'élément avec la nouvelle quantité
    quantiteElement.innerText = "Quantité : " + quantiteActuelle;
}
</script> -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const depliant = document.getElementById("users-info");

        depliant.addEventListener("click", function () {
            this.classList.toggle("active");
        });
    });
</script>
{%endblock%}