{% extends "layout.html" %}
{% block blocktitle %}Home{% endblock %}

{% block body %}

<main>
    <div class="mon-main">
        {#<ul class="liste">
            <div class="presentation">
                <i class="fas fa-bars menu-icon"></i>
                <span>Menu</span>
            </div>
            <div class="presentation1"></div>
            <a href="{{url_for('home')}}">
                <i class="fas fa-home menu-icon"></i>
            </a>
            {% for category_name in categories_with_icons.keys() %}
                <li>{{ category_name }}</li>
            {% endfor %}
        </ul>#}


        <div style="flex-direction: column; width:100%">
            <h3>Les articles en promo {{ promotion.nom_de_la_promotion }}</h3>
            {% for items in liste_des_articles %}
            <div style="display: flex; height:auto">
                <div class="exposition-images" data-category="{{ items.category }}">
                    <a href="{{url_for('ArticlesDetails', article_id = items.id)}}">
                        <img src="{{ url_for('static' , filename = items.image) }}" width="100px" height="auto"
                            alt="{{ items.name }}">
                    </a>
                </div>
                <div class="description" style="margin: 20px 0px 0px 30px">
                    <span style=" white-space: nowrap;">Mise en vente le: {{ items.date_arrive}}</span>
                    <span style=" white-space: nowrap;">{{items.details}}</span>
                    <span style=" white-space: nowrap;">{{items.Description}}</span>
                    <span class="article_name" style=" white-space: nowrap">{{items.name}}</span>
                    <span class="article_price" style="text-decoration:line-through; text-decoration-color: black; text-decoration-thickness:2px;">{{items.price}} francs</span>
                    <span class="article_price">{{ '%.0f' | format((items.price) - (items.price*promotion.reduction)/100)}} francs</span>
                    <span class="article_price">Durée de la promo :{{promotion.duree_de_la_promo}}jours</span>
                    <span class="article_price" style="color: blue">reduction :{{promotion.reduction }}%</span>
                </div>
            </div>
            {% endfor %}

        </div>
</main>

<footer style="background-color: #3d5d83; height:8cm; color:white">
    <div class="footer-content">
        <div class="footer-logo">
            <h3>MongoMarket</h3>

        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Avis de confidentialité</a></li>
                <li><a href="#">Nos conditions de location</a></li>
                <li><a href="#">Aide</a></li>
                <li><a href="#">Devenir partenaire – Marketplace</a></li>
                <li><a href="#">Notre fonctionnement</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <p>Contactez-nous :</p>
            <ul>
                <li><i class="fa-solid fa-phone"></i> Téléphone : +123456789</li>
                <li><i class="fa-solid fa-envelope"></i> Email : info@MongoMarket.com</li>
                <li><i class="fa-solid fa-map-marker-alt"></i> Adresse : 123 Rue du commerce3, Ville</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 MongoMarket. Tous droits réservés.</p>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>
<script src="{{url_for('static', filename='javascript/script.js')}}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const depliant = document.getElementById("users-info");

    depliant.addEventListener("click", function() {
        this.classList.toggle("active");
    });
});
</script>

{%endblock%}