{% extends "layout.html" %}
{% block blocktitle %}Home{% endblock %}

{% block body %}

<main>
    <div class="mon-main">
        {#<ul class="liste">
            <div class="presentation">
                <i class="fas fa-bars menu-icon"></i>
                <span>Menu</span>
            </div>
            <div class="presentation1"></div>
            <a href="{{url_for('home')}}">
                <i class="fas fa-home menu-icon"></i>
            </a>
            {% for category_name in categories_with_icons.keys() %}
                <li>{{ category_name }}</li>
            {% endfor %}
        </ul>#}


        <div style="flex-direction: column; width:100%">
            <h3>Les articles en promo {{ promotion.nom_de_la_promotion }}</h3>
            {% for items in liste_des_articles %}
            <div style="display: flex; height:auto">
                <div class="exposition-images" data-category="{{ items.category }}">
                    <a href="{{url_for('ArticlesDetails', article_id = items.id)}}">
                        <img src="{{ url_for('static' , filename ='images/'+ items.image) }}" width="100px" height="auto"
                            alt="{{ items.name }}">
                    </a>
                </div>
                <div class="description" style="margin: 20px 0px 0px 30px">
                    <span style=" white-space: nowrap;">Mise en vente le: {{ items.date_arrive}}</span>
                    <span style=" white-space: nowrap;">{{items.details}}</span>
                    <span style=" white-space: nowrap;">{{items.Description}}</span>
                    <span class="article_name" style=" white-space: nowrap">{{items.name}}</span>
                    <span class="article_price" style="text-decoration:line-through; text-decoration-color: black; text-decoration-thickness:2px;">{{items.price}} francs</span>
                    <span class="article_price">{{ '%.0f' | format((items.price) - (items.price*promotion.reduction)/100)}} francs</span>
                    <span class="article_price">Durée de la promo :{{promotion.duree_de_la_promo}}jours</span>
                    <span class="article_price" style="color: blue">reduction :{{promotion.reduction }}%</span>
                </div>
            </div>
            {% endfor %}

        </div>
</main>

<script src="{{url_for('static', filename='javascript/script.js')}}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const depliant = document.getElementById("users-info");

    depliant.addEventListener("click", function() {
        this.classList.toggle("active");
    });
});
</script>

{%endblock%}