{% extends "layout.html" %}

<title>{% block blocktitle %} HOME{% endblock %}</title>

{% block body%}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    {% if 'error' in message %}   
    <div class="alert alert-error">
        {% set error_message = message.split(';')[0] %} 
            <h6>{{error_message}}</h6>
    </div>
    {% elif 'success' in message %}
    <div class="alert alert-success">
        {% set success_message = message.split(';')[0] %} 
        <h6>{{success_message}}</h6>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="big-div-articles">
    <form method="POST" enctype="multipart/form-data" class="container">
        <div class="publierArticles-formulaire">
            <!-- publierArticles -->
            {{ form.hidden_tag() }}
            <h1 class="titre">Ajouter un nouvel article</h1>

            {{ form.name(placeholder="Nom de l'article",class_='style' ) }}<br>

            {{ form.category(class="form-control", placeholder="Type d'article",class_='style') }}<br>

            {{ form.Description(placeholder="Description de l'article",class_='style')}}<br>

            {{ form.date_arrive(placeholder="Date d'arrivée",class_='style')}}<br>

            {{ form.details(placeholder="Détails supplémentaires",class_='style') }}<br>

            {{ form.price(placeholder="Prix de l'article",class_='style') }}<br>

            {{ form.quantity(placeholder="Quantité disponible",class_='style') }}<br>

            {{ form.image(placeholder="Sélectionnez l'image de l'article",class_='style') }}<br>

            {{ form.submit(class_='button-valider') }}

        </div>
    </form>
</div>
{% endblock %}

