{% extends "layout.html" %}
{% block blocktitle %}

{% endblock %}

{% block body %}
<form method="POST" enctype="multipart/form-data" class="container">

    {{ form.hidden_tag() }}<br>
        <h1 class="h1">envoyer un message<i class="far fa-smile" style="color: #0000c8; font-size: 25px; margin-left: 10px;"></i></h1>
        {#<p>{{success}} </p>#}
        {{ form.email(placeholder="Email" ,class_='Email') }}<br>

        {{ form.email(placeholder="Message" ,class_='Email') }}<br>

        {{ form.submit }}
</form>
{% endblock %}
