{% extends "layout.html" %}
{% block blocktitle %}Home{% endblock %}

{% block body %}
<div class="bloc">
<main>
    <div class="mon-main">
        <div class="bar-defilante">
            <div class="message">
                <p>Bienvenue sur MongoMarket, votre plateforme d'achat et de vente en ligne. Faites vos achats en toute
                    sécurité</p>
            </div>
        </div>
        <div class="produits-defilants">
            <div class="image_de_produits-defilants">
                <i class="fa-solid fa-chevron-left"></i>
                <i class="fa-solid fa-chevron-right"></i>
                {% for item in promo %}
                <img src="{{item.image}}" alt="{{item.details}}" width="10px" height="100px"></img>
                {% endfor %}
            </div>
        </div>
        <div style="width:100%; display: flex; cursor:pointer">
            <section>
                <div class="Menu">
                    <h2 class="les-categories" id="all-categories">Les catégories</h2>
                    <ul>
                        {% for category_name, icon_name in categories_with_icons.items() %}
                            <li data-category="{{ category_name }}"><i class="fas fa-{{ icon_name }}"></i><span>{{ category_name }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                
            </section>
            <div style="flex-direction: column; width:100%">
                <div class="inventaire-des-articles" style="width:97%">
                    {% if current_user.is_authenticated %}
                        {% if  articles_trouve|length != 0  %}
                            {% for article in articles_trouve %}
                                <div class="exposition-images" data-category="{{ article.category.name }}">
                                    <a href="{{url_for('ArticlesDetails', article_id = article.id )}}" >
                                    <img src="{{article.image}}" width="250px" height="290px" alt="img">
                                    </a>
                                    <div class="description">

                                        <span class="article_description">Mise en vente par: {{article.user_name|upper}} SHOP</span>
                                        <span class="article_description">{{article.Description}}</span>
                                        <span class="article_name">{{article.name}}</span>
                                        <span class="article_price">{{article.price}}francs</span>

                                        <form method="POST" action="{{url_for('add_to_cart',user_id=current_user.id, article_id=article.id)}}">
                                            <button type="submit" class="cart-button" data-article-id="{{ article.id }}" title="button">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>
                                        </form>

                                        <form method="POST" action="{{url_for('ArticlesDetails', article_id=article.id)}}">
                                            <button>See More</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p style="color:white;background-color: #072345; width:100%; font-family:Quicksand; font-weight: bold;padding-left: 10px;">Aucun resultat trouvé</p>
                        {% endif %}
                    {% else %}
                        {% if  articles_trouve|length != 0  %}
                            {% for article in articles_trouve %}
                            <div class="exposition-images" data-category="{{ article.category }}">
                                <a href="{{url_for('ArticlesDetails', article_id = article.id )}}">
                                    <img src="{{article['image']}}" width="250px" height="290px" alt="img">
                                </a>
                                <div class="description">
                                    <span class="article_description">Mise en vente par: {{article['user_name']|upper}} SHOP</span>
                                    <span class="article_description">{{article['Description']}}</span>
                                    <span class="article_name">{{article['name']}}</span>
                                    <span class="article_price">{{article['price']}}francs</span>

                                    <form method="POST" action="{{url_for('add_to_cart_without_login', article_id=article.id)}}">
                                        <button type="submit" class="cart-button" data-article-id="{{ article.id }}" title="button">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </form>
                                </div> 
                            </div>
                            {% endfor %}
                        {% else %}
                            <p style="color:white;background-color: #072345; width:100%; font-family:Quicksand; font-weight: bold;padding-left: 10px;">Aucun resultat trouvé</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="pagination">
                    <ul>
                        <a href="#"><li>&laquo;</a></li>
                        <a href="{{url_for('home', page=1 )}}"><li>1</li></a>
                        <a href="{{url_for('home', page=2 )}}"><li>2</li></a>
                        <a href="{{url_for('home', page=3 )}}"><li>3</li></a>
                        <a href="{{url_for('home', page=4 )}}"><li>4</li></a>
                        <a href="{{url_for('home', page=5 )}}"><li>5</li></a>
                        <a href="#"><li>&raquo;</li></a>
                    </ul>
                </div>
            </div>
</main>

<footer style="background-color: #3d5d83; height:8cm; color:white">
    <div class="footer-content">
        <div class="footer-logo">
            <h3>MongoMarket</h3>

        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Avis de confidentialité</a></li>
                <li><a href="#">Nos conditions de location</a></li>
                <li><a href="#">Aide</a></li>
                <li><a href="#">Devenir partenaire – Marketplace</a></li>
                <li><a href="#">Notre fonctionnement</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <p>Contactez-nous :</p>
            <ul>
                <li><i class="fa-solid fa-phone"></i> Téléphone : +123456789</li>
                <li><i class="fa-solid fa-envelope"></i> Email : info@MongoDB.com</li>
                <li><i class="fa-solid fa-map-marker-alt"></i> Adresse : 123 Rue du commerce3, Ville</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 MongoMarket. Tous droits réservés.</p>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>
</div>
<script src="{{url_for('static', filename='javascript/script.js')}}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const depliant = document.getElementById("users-info");

    depliant.addEventListener("click", function() {
        this.classList.toggle("active");
    });
});
</script>
{%endblock%}

