{% extends "layout.html" %}
{% block blocktitle %}Home{% endblock %}

{% block body %}
<div class="bloc">
<div class="notification-container"></div>
<header>
    <nav>
        <ul>
            {% if not current_user.is_authenticated %}
                <a href="{{url_for('home')}}">
                    <li class="mongo">Mongo<span class="market">Market</span></li>
                </a>
                <div class="SearchDiv">
                    <form method="POST" action="{{url_for('SearchFor', saisie='')}}">
                        <input type="text" id="SearchInput" name="saisie">
                        <i class="fas fa-camera"></i>
                        <button type="submit">Search</button>
                    </form>
                </div>
                <form method="POST">
                    <a href="{{ url_for('panierForUserNonConnecte')}}" style="color: white; text-decoration: none;">
                        <div class="panier-div">
                            <div id="cart-count" class="cart-count">{{session['panier']|length}}</div>
                            <i class="fas fa-shopping-cart fa-lg"></i><span class="cart-notification">Mon Panier</span>
                        </div>
                    </a>
                </form>
            
                <li><a href="{{url_for('Signup')}}"><button class="signup-lien">SIGNUP</button></a>
                </li>
                <li><a href="{{url_for('Login')}}"><button class="login-lien">LOGIN</button></a>
                </li>
            {% else %}
                <a href="{{url_for('home')}}">
                    <li class="mongo">Mongo<span class="market">Market</span></li>
                </a>
                <div class="SearchDiv">
                    <form method="POST" action="{{url_for('SearchFor', saisie='')}}">
                        <input type="text" id="SearchInput" name="saisie">
                        <i class="fas fa-camera"></i>

                        <button type="submit">Search</button>
                    </form>
                </div>

                <form method="POST">
                    <a href="{{ url_for('panier')}}" style="color: white; text-decoration: none;">
                        <div class="panier-div">
                            <div id="cart-count" class="cart-count">{{cart_item|length}}</div>
                            <i class="fas fa-shopping-cart fa-lg"></i><span class="cart-notification">Mon Panier</span>
                        </div>
                    </a>
                </form>

                <a href="{{url_for('MesArticles')}}" style="color: white; text-decoration: none;">
                    <div class="articles-div">
                        <i class="fas fa-tag"></i>
                        <span class="cart-notification">Mes articles</span>
                    </div>
                </a>

                <a href="{{url_for('VoirFavoris')}}" style="color: white; text-decoration: none;">
                    <div class="articles-div">
                        <i class="fas fa-heart"></i>
                        <span class="cart-notification">Favoris</span>
                    </div>
                </a>

                {% if current_user.image == 'null' %}
                <div class="profil">
                    <li class="username">{{current_user.Username}}</li>
                    <li><i class="fa-solid fa-user fa-lg" style="padding:15px 5px 15px 5px; background-color: white;color:#3d5d83; border-radius:50px; cursor:pointer"></i></li>
                </div>
                {% else %}
                <div class="profil">
                    <li class="username" >{{current_user.Username}}</li>
                    <img class src="{{ current_user.Image }}"   width="30px" height="27px"; style= "border-radius: 50% 50% 50% 50%">
                </div>  
                {% endif %}
            
                <div class="depliant" id="users-info">
                    <i class="fa-solid fa-chevron-down" style="margin-left:10px"></i>
                    <ul class="depliant-content">
                        <li>
                            <a href="{{ url_for('editProfile', user_id=current_user.id) }}"><i class="fa-solid fa-user fa-lg"></i>Profil</a>
                        </li>
                        <li>
                            <a href="{{ url_for('publierArticles') }}"><i class="fa-solid fa-shop"></i>Mettre un article
                                en
                                vente</a>
                        </li>
                        {#<li>
                            <a href="{{url_for('deleteArticle')}}"><i class="fa-solid fa-trash-can"></i>Supprimer un
                                article</a>
                        </li>#}
                        {% if current_user.is_admin %}
                        <li>
                            <a href="{{url_for('deleteArticle')}}"><i class="fa-solid fa-trash-can"></i>Supprimer un
                                article</a>
                        </li>
                        <li>
                            <a href="{{url_for('promotionsArticles')}}"><i class="fa-solid fa-shop"></i>Promouvoir un
                                article</a>
                        </li>
                        {% endif %}
                        <li style=" white-space: nowrap;">
                            <a href="#"><i class="fas fa-cog menu-icon"></i>Préférences</a>
                            <hr class="trait">
                        </li>
                        <li>
                            <a href="{{url_for('Logout')}}"><i
                                    class="fa-solid fa-right-from-bracket"></i>Déconnexion</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div class="mon-main">
        <div class="bar-defilante">
            <div class="message">
                <p>Bienvenue sur MongoMarket, votre plateforme d'achat et de vente en ligne. Faites vos achats en toute
                    sécurité</p>
            </div>
        </div>
        {#<ul class="liste">
            <div class="presentation">
                <i class="fas fa-bars menu-icon"></i>
                <span>Menu</span>
            </div>

            <div class="presentation1"></div>
            <a href="{{url_for('home')}}">
                <i class="fas fa-home menu-icon"></i>
            </a>
            <li>Les categories</li>
            <li>Vetements</li>
            <li>Aliments</li>
            <li>Les produits Tendances </li>
            <li>Explorez nos produits</li>
        </ul>#}
        <div class="produits-defilants">
            <div class="image_de_produits-defilants">
                <i class="fa-solid fa-chevron-left"></i>
                <i class="fa-solid fa-chevron-right"></i>
                {% for item in promo %}
                <img src="{{item.image}}" alt="{{item.details}}" width="10px" height="100px"></img>
                {% endfor %}
            </div>
        </div>
        <div style="width:100%; display: flex; cursor:pointer">
            <section>
                <div class="Menu">
                    <h2 class="les-categories" id="all-categories">Les catégories</h2>
                    <ul>
                        {% for category_name, icon_name in categories_with_icons.items() %}
                            <li data-category="{{ category_name }}"><i class="fas fa-{{ icon_name }}"></i><span>{{ category_name }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                
            </section>
            <div style="flex-direction: column; width:100%">
                <div class="inventaire-des-articles" style="width:97%">
                    {% if current_user.is_authenticated %}
                        {% if  articles_trouvé|length != 0  %}
                            {% for article in articles_trouvé %}
                                <div class="exposition-images" data-category="{{ article.category.name }}">
                                    <a href="{{url_for('ArticlesDetails', article_id = article.id )}}">
                                    <img src="{{article.image}}" width="250px" height="290px">
                                    </a>
                                    <div class="description">

                                        <span class="article_description">Mise en vente par: {{article.user_name|upper}} SHOP</span>
                                        <span class="article_description">{{article.Description}}</span>
                                        <span class="article_name">{{article.name}}</span>
                                        <span class="article_price">{{article.price}}francs</span>

                                        <form method="POST" action="{{url_for('add_to_cart',user_id=current_user.id, article_id=article.id)}}">
                                            <button type="submit" class="cart-button" data-article-id="{{ article.id }}">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>
                                        </form>

                                        <form method="POST" action="{{url_for('ArticlesDetails', article_id=article.id)}}">
                                            <button>See More</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <!-- <div> -->
                            <p style="color:white;background-color: #072345; width:100%; font-family:Quicksand; font-weight: bold;padding-left: 10px;">Aucun resultat trouvé</p>
                        <!-- </div> -->
                        {% endif %}
                    {% else %}
                        {% for article in articles_trouvé %}
                        <div class="exposition-images" data-category="{{ article.category }}">
                            <a href="{{url_for('ArticlesDetails', article_id = article.id )}}">
                                <img src="{{article['image']}}" width="250px" height="290px">
                            </a>
                            <div class="description">
                                <span class="article_description">Mise en vente par: {{article['user_name']|upper}} SHOP</span>
                                <span class="article_description">{{article['Description']}}</span>
                                <span class="article_name">{{article['name']}}</span>
                                <span class="article_price">{{article['price']}}francs</span>

                                <form method="POST" action="{{url_for('add_to_cart_without_login', article_id=article.id)}}">
                                    <button type="submit" class="cart-button" data-article-id="{{ article.id }}">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </button>
                                </form>
                            </div> 
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="pagination">
                    <ul>
                        <a href="#"><li>&laquo;</a></li>
                        <a href="{{url_for('home', page=1 )}}"><li>1</li></a>
                        <a href="{{url_for('home', page=2 )}}"><li>2</li></a>
                        <a href="{{url_for('home', page=3 )}}"><li>3</li></a>
                        <a href="{{url_for('home', page=4 )}}"><li>4</li></a>
                        <a href="{{url_for('home', page=5 )}}"><li>5</li></a>
                        <a href="#"><li>&raquo;</li></a>
                    </ul>
                </div>
            </div>
</main>

<footer style="background-color: #3d5d83; height:8cm; color:white">
    <div class="footer-content">
        <div class="footer-logo">
            <h3>MongoMarket</h3>

        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Avis de confidentialité</a></li>
                <li><a href="#">Nos conditions de location</a></li>
                <li><a href="#">Aide</a></li>
                <li><a href="#">Devenir partenaire – Marketplace</a></li>
                <li><a href="#">Notre fonctionnement</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <p>Contactez-nous :</p>
            <ul>
                <li><i class="fa-solid fa-phone"></i> Téléphone : +123456789</li>
                <li><i class="fa-solid fa-envelope"></i> Email : info@MongoDB.com</li>
                <li><i class="fa-solid fa-map-marker-alt"></i> Adresse : 123 Rue du commerce3, Ville</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 MongoMarket. Tous droits réservés.</p>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>
</div>
<script src="{{url_for('static', filename='javascript/script.js')}}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const depliant = document.getElementById("users-info");

    depliant.addEventListener("click", function() {
        this.classList.toggle("active");
    });
});
</script>
{%endblock%}

